@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-900 text-white overflow-x-hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f172a; 
}
::-webkit-scrollbar-thumb {
  background: #22c55e; 
  border-radius: 4px;
}